<style>
        body { background-color:rgb(245, 245, 245);
            font-size: 17px;
            text-align: left;
            
        }
        #title {background-color:rgb(193, 234, 247);
           font-family:"Georgia", sans-serif; 
           color: rgb(5, 18, 133);
           text-decoration: underline;
           text-align:center;
           }
        
        #contents {background-color:rgb(193, 234, 247);
           font-family:"Georgia", sans-serif; 
           color: rgb(5, 18, 133);
           font-style: italic;
           text-align:center;
        }
        
        #post1 {background-color:rgb(212, 212, 212);
           font-family:"Georgia", sans-serif; 
           color: rgb(11, 18, 71);
           font-size: 1.6em;
           }
        h6 { 
            font-size:13px;
            font-style :italic;
            color:rgb(207, 118, 131);
            font-family: "Palatino",sans-serif
        }  
        #post2{background-color:rgb(184, 232, 240);
           font-family:"Georgia", sans-serif; 
           color: rgb(98, 103, 135);
           font-size: 1.6em;
            
        }
        #post3{background-color:rgb(180, 210, 217);
           font-family:"Georgia", sans-serif; 
           color: rgb(12, 135, 119);
           font-size: 1.6em;
            
        }
        p{
            font-family:"Times",sans-serif;
            line-height: 1.4em;
        font-style: normal;
        }
        ul { 
            color:blue;
        }
        .source {
            color:red;
            font-weight:bold;
            
        }
        </style>